@media (max-width: 768px) {
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {

  }
  
  @media (min-width: 1025px) {
  }

html {
    background-color: lightseagreen;
    margin-left: 20%;
    margin-right: 20%;
}

header {
    text-align: center;

    nav {
        border: yellow 5px solid;
        justify-content: space-evenly;
        background-color: brown;
        width: 100%;
        display: flex;

        a {
            display: inline-block;
            text-decoration: none;
            color: white;
            border: green 5px solid; 
            transition: background-color 0.20s;
            height: 36px;
            line-height: 36px;
        }

        a:hover {
            background: lightgrey;
            height: 36px;
            line-height: 36px;
            padding: 0 10px;
            font-family: sans-serif;
            font-size: 13px;
            transition: background-color 0.20s;
        }

    }
}
.container{
    display: flex;
    h2{
        background-color: chocolate;
        border-radius: 5px;
        padding: 10px;
        margin: 0;
        text-align: center;
    }
    section{
        display: flex;
        flex-direction: column;
        width:58%;
        height: auto;
        border: black 5px solid;
    }
    aside{
        border: red 5px solid;
        background-color: white;
        width: 40%;
        float: inline-start;
    }
    .clear{
        clear: both;
    }
}
    